.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  
  .hero-section {
    background: #f8f9fa;
    padding: 70px 20px;
    margin-bottom: 20px;
  }
  
  h1,h2,h3,h4,h5,h6 {
    color: #666666;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .disease-section {
    margin: 40px 0;
  }
  .disease-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .disease {
    display: flex;
    justify-content: left;
    gap: 20px;
  }
  .disease h3{
    font-size: 1em;
    margin-bottom: 10px;

  }
  .disease p{
    color: #666666;
  }
  .hero-section h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
    }
  
  .hero-section p {
    font-size: 1em;
    margin-bottom: 20px;
    color : #666666;
  }
  
  .hero-section button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-section button:hover {
    background-color: #0056b3;
  }
  
  .features-section {
    margin: 40px 0;
  }
  
  .features-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feature h3 {

    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1em;
    color: #666666;
  }
  
  .cta-section {
    background: #f8f9fa;
    padding: 50px 20px;
    margin-top: 20px;
  }
  
  .cta-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .cta-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666666;
  }
  
  .cta-section button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-section button:hover {
    background-color: #218838;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: rgba(10, 10, 10, 0.884);
  }
  tr{
    color: #000000;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }